
#current-script
{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;

    padding: 5px;
}

#current-script-title
{
    margin: 1px;
    padding: 1px;
    border: 1px;
}

.crud-input
{
    width: 60%;
    margin: 1px;
    padding: 1px;

}