
.script 
{
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
   /* reverse box shadow */
  /* box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1); */
  margin: 5px;
}


.name-label
{
  background-color: bisque;
}